@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.search-countries-form {
  @include flexbox($direction: column);
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.6rem;
  color: $font-color-white;
  gap: 1.6rem;
  background-color: $secondary-color;
  border-radius: $border-radius;

  input {
    width: 100%;
  }

  @include for-tablet-landscape {
    padding: 1.2rem;
    gap: 0.8rem;
  }
}
