// Colors
$primary-color: #00c56a;
$secondary-color: #42484d;
$font-color-black: #000000;
$font-color-white: #ece9e5;
$backgorund-color-dark: #2d3439;
$backgorund-color-white: #d6dee0;

// Borders
$border-radius: 6px;
