@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.country-list {
  width: 100%;
  height: 100%;
  margin-left: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;

  h2 {
    margin-bottom: 0.4rem;
    color: $font-color-white;
  }

  ul {
    @include flexbox($wrap: wrap, $direction: column, $alignItems: center);
    min-height: 50%;
    margin: 0 2rem 0 1rem;
    gap: 1.6rem;
  }

  & .spinner {
    align-self: center;
    font-size: 9rem;
    color: $primary-color;
  }

  &__message {
    margin: 2rem auto;
    font-size: 2rem;
    text-align: center;
    color: $font-color-white;
  }
}
