@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.country-list {
  height: 100%;
  margin: 0 1rem;
  overflow: hidden;

  h2 {
    margin-bottom: 0.4rem;
    color: $font-color-white;
  }

  ul {
    @include flexbox($wrap: wrap);
    width: 100%;
    height: 100%;
    margin-left: 0.4rem;
    overflow: scroll;
    overflow: scroll;
    gap: 1.6rem;
  }
}
