@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.sidebar {
  @include flexbox($direction: column, $placeItems: center);
  width: 30%;
  padding: 2rem;
  background-color: $backgorund-color-dark;
}
